<!DOCTYPE html>
<html>
<head>
    <title>Max Baldwin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/master.css">
</head>
<body>
<div id="wrapper" class="width height">
    <div id="nav" class="width">
        <div id="logo" class="left">M</div>
        <ul id="bar">
            <li><a href="#">About</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div id="top" class="height focused">
        <div id="me" class="left tile">
            <h1>My Name</h1>
        </div>
        <div id="myInfo" class="right height">
            <div id="infoTop" class="halfX">
                <div id="infoTopLeft" class="left halfY tile">

                </div>
                <div id="infoTopRight" class="right halfY tile">

                </div>
            </div>
            <div id="infoBottom" class="width halfX">
                <div id="infoBottomLeft" class="left halfY tile">
                    <h1>Some Content</h1>
                </div>
                <div id="infoBottomRight" class="right halfY tile">
                    <h1>Some Content</h1>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="about" class="height tier">
        <h2>I am Max</h2>
        <p>Here is a paragraph about me</p>
    </div>
    <div id="skills" class="height tier">
        <h2>I got skills!</h2>
    </div>
    <div id="blog" class="height tier">
        <div id="filter" class="left height">
            <div id="search">
                <input type="text" placeholder="filter" name="blogSearch" id="blogSearch"/>
            </div>
            <ul id="blogFilter">
                <li>Most Recent</li>
                <li>Top 10</li>
                <li>Javascript</li>
                <li>HTML</li>
            </ul>
        </div>
        <div id="templateContainer" class="right">
            <div id="posts">
                <h3>Recent Posts</h3>
                {{#foreach posts}}
                <a href="{{url}}"><h2>{{{title}}}</h2></a>
                <span>{{{published_at}}}</span>
                <p class="blogText">{{content characters=140}}</p>
                <a href="{{url}}">Full Article</a>
                {{/foreach}}
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="contact" class="height tier">
        <h2>Say hi!</h2>
        <form id="contactMe">
            <input type="text" name="name" id="contactName" placeholder="name"/>
            <input type="text" name="email" id="contactEmail" placeholder="email@email.com"/>
            <textarea name="message" id="contactmessage" placeholder="140 Character message"></textarea>
            <input type="text" name="botValidation" id="botValidation" placeHolder="2 + 2 = ?"/>
            <input type="submit" name="sumbit" id="contactSumbit" placeholder="send"/>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/functions.js"></script>
<script type="text/javascript" src="js/events.js"></script>
</html>
